
            html,
            body {
                height: 100%;
            }

            body {
                margin: 0;
                background: linear-gradient(45deg, #49a09d, #5f2c82);
                font-family: sans-serif;
                font-weight: 100;
            }

            .container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            table {
                width: 800px;
                border-collapse: collapse;
                overflow: hidden;
                box-shadow: 0 0 20px rgba(0,0,0,0.1);
            }

            th,
            td {
                padding: 15px;
                background-color: rgba(255,255,255,0.2);
                color: #fff;
            }

            th {
                text-align: left;
            }

            thead {
            th {
                background-color: #55608f;
            }
            }

            tbody {
            tr {
            &:hover {
                 background-color: rgba(255,255,255,0.3);
             }
            }
            td {
                position: relative;
            &:hover {
            &:before {
                 content: "";
                 position: absolute;
                 left: 0;
                 right: 0;
                 top: -9999px;
                 bottom: -9999px;
                 background-color: rgba(255,255,255,0.2);
                 z-index: -1;
             }
            }
            }
            }
            .example_b {
                color: #fff !important;
                text-transform: uppercase;
                text-decoration: none;
                background: #60a3bc;
                padding: 20px;
                border-radius: 50px;
                display: inline-block;
                border: none;
                transition: all 0.4s ease 0s;
            }
            .example_b:hover {
                text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
                -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                transition: all 0.4s ease 0s;
            }
