{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block content %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
   <div class="container">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
   </div>
{{ form_end(form) }}
{% endblock content %}